[Desktop Entry]
Name=Engulfers
GenericName=Engulfers
Comment=<PlaceholderShortDesc>
Exec=engulfers %F
Icon=io.github.mlm_games.engulfers
Terminal=false
Type=Application
Categories=<PlaceholderCategories>
