[Desktop Entry]
Name=Engulfers
GenericName=Engulfers
Comment=Eliminate all void entities to win!
Exec=engulfers %F
Icon=io.github.mlm_games.engulfers
Terminal=false
Type=Application
Categories=Game;Amusement
